<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550300060523-ml3890rk9omu55ujhp7dkt5bs81pc22s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550300060523-ml3890rk9omu55ujhp7dkt5bs81pc22s</string>
	<key>API_KEY</key>
	<string>AIzaSyC1kzFpnV2CMG8QT2RHexor6YlT922uOL8</string>
	<key>GCM_SENDER_ID</key>
	<string>550300060523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>easypeasyincorp.myImdbPetApp</string>
	<key>PROJECT_ID</key>
	<string>myimdbpetapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myimdbpetapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550300060523:ios:73946eaa0f9e6f67e8da2e</string>
</dict>
</plist>